# Backup files
*~
*.orig

# Directories
log/
mnt/
obj/
src/
tmp/
wrk/
deb/
old/
bin/
pkg/
bak/
img/
env/

#python
__pycache__/
*.py[cod]

# Misc
buildall.sh
boards/*/kernel/*custom_defconfig
sdchroot
config_local.sh
cleanrepo.sh
