[Board]
branch = sunxi
model = CubieTruck
hostname = armStrap
timezone = America/Montreal
locales = en_US.UTF-8 fr_CA.UTF-8

[Distribution]
family = ubuntu
version = vivid

[Kernel]
version = mainline

[Networking]
mode = static
ip = 192.168.0.100
mask = 255.255.255.0
gateway = 192.168.0.1
domain = armstrap.net
dns = 8.8.8.8 8.8.4.4
macaddress = 00:02:46:52:e8:e4

[BoardsPackages]
installoptionalspackages = no

[SwapFile]
file = /var/swap
size = 1024
factor = 2
maximum = 2048

[Users]
rootpassword = armStrap
username = armStrap
userpassword = armStrap

[Output]
device = /dev/mmcblk0

